/*
h1 {
    text-decoration: underline;
    color: #ff0505;
}
*/

body.home {
  background-image: url("./images/5013.png");
  background-repeat: repeat;
}

body.gallery {
  background-image: url("./images/5021.png");
  background-repeat: repeat;
}

body.guestbook {
  background-image: url("./images/5011.png");
  background-repeat: repeat;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
font-family: Times New Roman;
font-size: 26px;
font-weight: bold;
background-color: #05fce3;
margin: 40px 0px 20px 0px;
padding: 5px;
border-bottom: 2px solid #0ffcd4;
text-align: center;
}

p {
    padding-left: 20px;
    font-size: 22px;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}

#motto {
    font-family: impact;
    color: #1dfc05;
    background-color: #0a0a0a;
    margin: 2px 2px 20px 0px;
    text-align: center;
}

nav {
font-size: 24px;
text-align: center;
background-color: #ffffff;
}

.container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container img {
            margin: 0px; /* Adjust the spacing between images as needed */
        }

.scroll-container {
  display: flex;
  align-items: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
  font-size: 24px; /* Adjust this value to make the text bigger or smaller */
  background-color: yellow; /* Set the desired background color */
  padding: 5px; /* Optional: Add some padding for better appearance */
  text-align: center;
}

@keyframes marquee {
  0% { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}

}